@import "tailwindcss";

body {
  background-color: black;
  color: #10b981;
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

.text-gradient {
  background: linear-gradient(to right, #e879f9, #ec4899, #9333ea);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow-effect {
  text-shadow: 0 0 20px rgba(217, 70, 239, 0.5),
               0 0 40px rgba(217, 70, 239, 0.3);
}
